@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap");

:root {
  --main-orange: #ef7f1a;
  --light-green: #95c127;;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

h3 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 25px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 15px 20px 15px 30px;
  background-color: var(--main-orange);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: rgb(223, 107, 6);
}

.section-page {
  position: relative;
}

.cube-center-left {
  position: absolute;
  left: 0;
  top: 320px;
  max-width: 220px;
}

.cube-center-right {
  position: absolute;
  right: 0;
  top: 375px;
  width: 150px;
}

.cube-bottom-center {
  position: absolute;
  bottom: 100px;
  right: 45%;
  max-width: 170px;
}

.cube-center-left img,
.cube-center-right img,
.cube-bottom-center img {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
}

.banner {
  background-image: url("../img/banner-price.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  padding: 10.8vmax 0 10.15vmax;
  color: #fff;
  margin-top: 70px;
}

.banner__title {
  width: 52%;
  font-weight: 700;
}

.banner p {
  width: 100%;
  line-height: 3rem;
  font-size: 48px;
  font-size: 2vw;
}

.banner__title div {
  width: 100%;
  text-transform: uppercase;
}

.banner__title--primary {
  background-color: rgba(239, 127, 26, 0.8);
  padding: 45px 20px 40px 300px;
}

.banner__title--secondary {
  background-color: rgba(149, 193, 43, 0.8);

  padding: 45px 10px 40px 300px;
}

.banner__title--primary span,
.banner__title--secondary span {
  display: block;
}

.price-list {
  padding: 150px 0 120px;
}

.green-primary {
  background-color: #95c12b;
}
.green-secondary {
  background-color: #628b00;
}

.orange-primary {
  background-color: #f07c00;
}

.orange-secondary {
  background-color: #be6200;
}

.button.green-primary:hover {
  background-color: #628b00;
}

.price-list {

}

.price-list__table {
  
}

.price-list__table-row {
  
}

.price-list__table-row > li:nth-child(2n + 1) {
  background-color: #e8e8e8;

}

.price-list__table-col {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  min-height: 60px;
  font-family: "Montserrat Medium", sans-serif;
  font-size: 25px;
  padding: 15px 0;
}

.true,
.false {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.true {
  background-image: url('../img/true.png');
}

.false {
  background-image: url('../img/false.png');
}

.price-list__table-col > li {
  position: relative;
}

.price-list__table-col > li + li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-list__table-col > li:first-child{
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.price-list__table-header {
  background-color: #95c22b;
  color: #fff;
  padding: 25px 0 30px;
}

.price-list__table-header > li {}

.contact-us {
  padding: 100px 0 80px;
  background-color: #95c12b;
}

.contact-us .container {
  padding: 0;
}

.contact-us__title {
  margin-bottom: 55px;
}

.contact-us__title span {
  display: block;
}

.contact-us > img {
  position: absolute;
  bottom: 30px;
  left: 270px;
  max-width: 700px;
}

.contact-us__content {
  display: flex;
  justify-content: flex-end;
}

.contact-us__form {
  max-width: 550px;
  background-color: var(--main-orange);
  padding: 40px 50px 45px;
  text-align: center;
  border-radius: 15px;
}

.contact-us__form > p {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 45px;
  font-weight: bold;
}

.contact-us__form > p span {
  display: block;
}

.contact-us input {
  font-size: 20px;
  color: #808080;
  width: 100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 25px 20px;
}

.contact-us input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  background-color: #95c12b;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.contact-us input[type="submit"]:hover {
  background-color: #7da518;
}

@media only screen and (max-width: 1550px) {
  .contact-us > img {
    left: 180px;
  }
}

@media only screen and (max-width: 1440px) {
  .cube-bottom-center {
    right: 38%;
  }

  .contact-us > img {
    left: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner__title {
    width: 60%;
  }

  .banner__title div {
    padding: 25px 20px 25px 230px;
  }

  .banner__title p {
    font-size: 25px;
  }

  .cube-center-left {
    max-width: 170px;
    top: 260px;
  }

  .cube-bottom-center {
    display: none;
  }

  .cube-center-right {
    width: 120px;
  }

  .contact-us .container {
    padding: 0 15px;
  }

  .contact-us > img {
    max-width: 420px;
  }
}

@media only screen and (max-width: 1024px) {
  .cube-center-right {
    width: 105px;
    top: 470px;
  }
}

@media only screen and (max-width: 876px) {
  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 22px;
  }

  .section-page {
    padding: 25px 15px 50px;
  }

  .banner {
    margin-top: 80px;
    padding-left: 0;
  }

  .banner__title {
    width: 85%;
  }

  .button {
    font-size: 18px;
  }

  .cube-center-left {
    max-width: 130px;
    top: 140px;
}

  .cube-center-right {
    top: 220px;
  }

  .contact-us > img {
    max-width: 430px;
    left: 50px;
  }

  .contact-us__form {
    padding: 30px 35px;
    width: 50%;
  }

  .contact-us__form > p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contact-us input {
    font-size: 18px;
    margin-bottom: 25px;
    padding: 20px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-bottom: 30px !important;
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  .button {
    font-size: 16px;
    padding: 10px;
  }

  .contact-us__content {
    justify-content: center;
  }

  .contact-us > img {
    display: none !important;
  }

  .contact-us__form {
    width: 65%;
  }
}

@media only screen and (max-width: 520px) {
  h2 {
    margin-bottom: 20px !important;
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  .container {
    padding: 0;
  }

  .cube-center-left,
  .cube-center-right {
    display: none;
  }

  .banner__title div {
    padding: 10px;
    padding-left: 40px;
  }

  .banner__title p {
    font-size: 100%;
    line-height: 27px;
  }

  .price-list__table-col {
    font-size: 18px;
  }

  .true, .false {
    width: 25px;
    height: 25px;
  }

  .contact-us__content {
    flex-flow: column;
  }

  .contact-us__form {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  h3,
  .price-list__table-col {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
  }

  .banner {
    margin-top: 70px;
  }

  .price-list__table-header {
    padding: 15px 0;
  }

  .price-list__table-col > li:first-child {
    padding-left: 5px;
  }

  .true, .false {
    width: 20px;
    height: 20px;
  }

  .contact-us__form > p {
    font-size: 16px;
  }

  .contact-us input {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 16px;
  }

  .contact-us__form {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 18px;
  }

  .section-page {
    padding-bottom: 30px;
  }

  .button {
    font-size: 14px;
    padding: 10px;
  }

}

@media only screen and (max-width: 350px) {

}

@media only screen and (max-width: 320px) {
  h3, .price-list__table-col {
    font-size: 10px;
}
}
