@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap");

:root {
  --main-orange: #ef7f1a;
  --light-green: #95c127;
  /* --size-cube: 150px;
  --translate-z: calc(var(--size-cube) / 2); */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  font-family: "Arial", sans-serif;
  color: #fff;
  background-color: #96c12c;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.menu {
  padding: 20px 0;
  font-size: 20px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list-item:first-child {
  min-width: 160px;
}

.menu__list-link {
  display: block;
}

.menu__list-social img {
  max-width: 30px;
}

.menu__list-social:not(:last-child) {
  margin-right: 15px;
}

.menu__list-logo {
  position: absolute;
  left: 0;
  top: -25px;
  max-width: 180px;
}

.menu__list-logo img,
.menu__list-icon img {
  width: 100%;
  height: auto;
}

.menu__list-icon {
  display: flex;
  align-items: center;
  width: 26px;
  margin-right: 18px;
}

.button {
  padding: 15px 20px 15px 30px;
  background-color: var(--main-orange);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-family: "Arial", sans-serif;
}

.section-page {
  position: relative;
}

.cube-center-left {
  position: absolute;
  left: 0;
  top: 320px;
  max-width: 220px;
}

.cube-center-right {
  position: absolute;
  right: 0;
  top: 525px;
  max-width: 120px;
}

.cube-bottom-center {
  position: absolute;
  bottom: 160px;
  right: 43%;
  max-width: 170px;
}

.cube-center-left img,
.cube-center-right img,
.cube-bottom-center img {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
}

.banner {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;

  width: 100%;
  padding: 10.8vmax 0 10.15vmax;
  color: #fff;
  margin-top: 70px;
}

.banner__title {
  width: 52%;
  font-weight: 700;
}

.banner p {
  width: 100%;
  line-height: 3rem;
  font-size: 48px;
  font-size: 2vw;
}

.banner__title div {
  width: 100%;
  text-transform: uppercase;
}

.banner__title--primary {
  background-color: rgba(239, 127, 26, 0.8);
  padding: 45px 20px 40px 365px;
}

.banner__title--secondary {
  background-color: rgba(149, 193, 43, 0.8);

  padding: 45px 10px 40px 365px;
}

.banner__title--secondary span {
  display: block;
}

.why-justo {
  background-color: #fff;
  padding: 50px 15px 100px;
  font-family: "Montserrat Medium", sans-serif;
  color: var(--light-green);
}

.why-justo__title {
  margin-bottom: 25px;
}

.why-justo__secondary-title {
  color: var(--light-green);
  text-align: center;
  margin-bottom: 70px;
  font-weight: bold;
}

.why-justo__content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.why-justo__content-list {
  text-transform: uppercase;
  font-size: 20px;
  width: 25%;
}

.why-justo__content-item h4 {
  color: var(--main-orange);
  margin-bottom: 10px;
}

.why-justo__content-item + .why-justo__content-item {
  margin-top: 35px;
}

.why-justo__content .why-justo__content-sticker {
  align-self: center;
}

.why-justo__content-sticker {
  width: 35%;
  height: auto;
}

.why-justo__content-sticker img {
  width: 100%;
}

.chips {
  padding: 75px 15px 95px;
  background-color: #99cc33;
  font-family: "Montserrat Medium", sans-serif;
  position: relative;
}

.chips > img {
  position: absolute;
  top: -25%;
  right: 0;
  max-width: 20%;
}

.chips__title {
}

.chips__video {
  padding: 65px 0 60px;
}

.chips__video iframe {
  width: 100%;
  min-height: 635px;
}

.chips__list {
  font-size: 20px;
  width: 45%;
}

.chips__list-item + .chips__list-item {
  margin-top: 25px;
}

.chips__list-item h4 {
  position: relative;
  padding-left: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.chips__list-item h4::before {
  content: "";
  border: 5px solid var(--main-orange);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.chips__content {
  display: flex;
  justify-content: space-between;
}

.topicality {
  padding: 90px 15px 95px;
  font-family: "Montserrat ExtraBold", sans-serif;
  background-image: url("../img/topicality-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.topicality__title {
  margin-bottom: 90px;
}

.topicality__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.topicality__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  width: 45%;
}

.topicality__list-item:not(:last-child) {
  margin-bottom: 55px;
}

.topicality__list-item img {
  max-width: 165px;
  margin-right: 30px;
}

.pay {
  position: relative;
}

.pay::after,
.pay::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 100%;
  transform: translateY(80%);
  width: 160px;
  max-width: 160px;
  height: 60px;
}

.pay::after {
  background-image: url("../img/apple-pay.png");
  left: 0;
}

.pay::before {
  background-image: url("../img/google-pay.png");
  right: 20px;
}

.profit {
  position: relative;
  padding: 75px 15px 110px;
}

.profit > img {
  position: absolute;
  left: -2%;
  top: -12%;
  max-width: 370px;
  transform: rotate(21deg);
}

.profit__title {
  color: var(--main-orange);
  padding: 0 100px;
  margin-bottom: 160px;
}

.profit__list {
  display: flex;
  justify-content: space-between;
}

.profit__list-item {
  width: 30%;
  background-color: #eeeeee;
  padding: 0 15px 30px;
}

.profit__list-content {
  text-align: center;
}

.profit__list-content img {
  margin-top: -90px;
  max-width: 200px;
}

.profit__list-content h4 {
  color: var(--light-green);
  margin: 25px 0 35px;
}

.profit__list-content ul {
  text-align: left;
  list-style: disc inside;
  color: var(--light-green);
  font-size: 16px;
}

.profit__list-content li:not(:last-child) {
  margin-bottom: 15px;
}

.profit__list-content ul span {
  color: #000;
}

.how-to-work {
  padding: 80px 0;
  background-image: url("../img/how-to-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to-work__title {
  padding: 0 200px;
  text-align: center;
  margin-bottom: 50px;
}

.how-to-work img {
  width: 100%;
  height: auto;
}

.integrations {
  padding: 70px 0 80px;
}

.integrations__title {
  color: var(--main-orange);
  margin-bottom: 35px;
}

.integrations__secondary-title {
  color: var(--light-green);
  margin-bottom: 70px;
}

.integrations__image {
  width: 100%;
  height: auto;
}

.servio {
  padding: 75px 0;
  background-color: #99cc33;
  position: relative;
  overflow: hidden;
}

.servio > img {
  position: absolute;
  top: 25%;
  left: 10%;
  max-width: 750px;
}

.servio__title {
  margin-bottom: 90px;
}

.servio__title span {
  color: #265aa6;
  display: block;
}

.servio__content {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
}

.servio__content p:last-of-type {
  margin: 30px 0 40px;
}

.servio__content p span {
  display: block;
}

.servio__content-list {
  list-style: disc inside;
  color: var(--main-orange);
}

.servio__content-list span {
  color: #000;
}

.servio__content .button {
  width: 40%;
  text-align: center;
  margin: 110px auto 0;
}

.contact-us {
  padding: 100px 0 80px 15px;
  position: relative;
}

.contact-us > img {
  position: absolute;
  bottom: 0;
  right: 50%;
  max-width: 700px;
}

.contact-us__content {
  display: flex;
  justify-content: space-between;
}

.contact-us__content > p {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 20px;
  color: var(--main-orange);
  text-transform: uppercase;
  max-width: 400px;
}

.contact-us__form {
  max-width: 550px;
  background-color: var(--main-orange);
  padding: 40px 50px 45px;
  text-align: center;
  border-radius: 15px;
}

.contact-us__form > p {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.contact-us__form > p span {
  display: block;
}

.contact-us input {
  font-size: 20px;
  color: #808080;
  width: 100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 25px 20px;
}

.contact-us input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  background-color: #95c12b;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}

.footer {
  background-color: var(--main-orange);
  padding: 10px 0 10px 15px;
  color: #fff;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 20px;
}

.footer__list-item {
}

.footer__list-item-logo {
  max-width: 125px;
}

.footer__list-item-copyright {
  text-align: center;
}

.footer__list-item-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer__list-item-social li:not(:last-child) {
  margin-right: 25px;
}

.footer__list-item .button {
  background-color: var(--light-green);
  font-size: 24px;
}

@media only screen and (max-width: 1440px) {
  .chips > img {
    top: -15%;
    max-width: 12%;
  }

  .profit > img {
    top: -8%;
    max-width: 18%;
  }
}

@media only screen and (max-width: 1200px) {
  .banner__title div {
    padding: 25px 20px 25px 230px;
  }

  .banner__title p {
    font-size: 25px;
  }

  .cube-center-left {
    max-width: 170px;
    top: 260px;
  }

  .cube-bottom-center {
    display: none;
  }

  .cube-center-right {
    top: 380px;
  }

  .chips > img {
    max-width: 150px;
    top: -9%;
  }

  .profit > img {
    top: -7%;
    max-width: 200px;
  }

  .servio > img {
    top: 40%;
    left: 4%;
    max-width: 563px;
  }

  .servio__content .button {
    margin-top: 70px;
  }

  .contact-us > img {
    max-width: 580px;
  }

  .contact-us__content > p {
    font-size: 22px;
    max-width: 45%;
  }
}

@media only screen and (max-width: 876px) {
  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 22px;
  }

  .section-page {
    padding: 25px 15px 50px;
  }

  .menu {
    font-size: 18px;
  }

  .menu__list-logo {
    max-width: 160px;
  }

  .menu__list-social {
    display: none;
  }

  .banner {
    margin-top: 80px;
    padding-left: 0;
  }

  .banner__title {
    width: 85%;
  }

  .button {
    font-size: 18px;
  }

  .cube-center-left {
    max-width: 150px;
    top: 220px;
  }

  .cube-center-right {
    top: 264px;
    max-width: 105px;
  }

  .why-justo__content-list {
    font-size: 18px;
    width: 30%;
  }

  .chips > img,
  .profit > img {
    display: none;
  }

  .chips__video iframe {
    min-height: 465px;
  }

  .topicality__list-item {
    font-size: 20px;
    width: 50%;
  }

  .topicality__list-item img {
    max-width: 120px;
  }

  .pay::after {
    left: -10px;
  }

  .pay::after,
  .pay::before {
    max-width: 120px;
  }

  .profit__title {
    padding: 0;
    margin-bottom: 30px;
  }

  .profit__list {
    display: block;
  }

  .profit__list-content {
    text-align: left;
  }

  .profit__list-content > h4 {
    display: inline-block;
    margin: 0 0 15px;
  }

  .profit__list-content img {
    max-width: 100px;
    margin: 0;
    display: inline-block;
    margin-right: 20px;
  }

  .profit__list-item {
    width: 100%;
    padding: 20px 40px;
  }

  .profit__list-item + .profit__list-item {
    margin-top: 20px;
  }

  .profit__list-content ul {
    font-size: 20px;
    list-style: disc;
  }

  .how-to-work__title {
    padding: 0;
    margin-bottom: 10px;
  }

  .servio > img {
    top: 45%;
    left: 3%;
    max-width: 400px;
  }

  .servio__title {
    margin-bottom: 40px;
  }

  .servio__content {
    font-size: 18px;
  }

  .servio__content > div {
    width: 50%;
  }

  .servio__content .button {
    margin-top: 35px;
  }

  .contact-us > img {
    max-width: 430px;
  }

  .contact-us__form {
    padding: 30px 35px;
    width: 50%;
  }

  .contact-us__form > p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contact-us input {
    font-size: 18px;
    margin-bottom: 25px;
    padding: 20px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 18px;
  }

  .footer__list {
    font-size: 18px;
  }

  .footer__list-item-logo {
    max-width: 110px;
  }

  .footer__list-item .button {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-bottom: 30px !important;
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  .menu__list-item:first-child {
    min-width: 120px;
  }
  .menu__list-logo {
    max-width: 130px;
  }

  .menu__list-icon {
    width: 20px;
    margin-right: 10px;
  }

  .button,
  .footer__list-item .button {
    font-size: 16px;
    padding: 10px;
  }

  .why-justo__title svg,
  .why-justo__title image {
    width: 270px;
  }

  .why-justo__secondary-title {
    margin-bottom: 30px;
  }

  .chips__video {
    padding: 0 0 60px;
  }

  .pay::after,
  .pay::before {
    width: 45%;
  }

  .topicality__list-item {
    font-size: 16px;
  }

  .topicality__list-item:not(:last-child) {
    margin-bottom: 35px;
  }

  .servio > img {
    top: 49%;
    left: 2%;
    max-width: 360px;
  }

  .footer__list {
    font-size: 16px;
  }

  .footer__list-item-logo {
    max-width: 100px;
  }

  .footer__list-item-social li:not(:last-child) {
    margin-right: 15px;
  }

  .footer__list-item-social img {
    width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  h2 {
    margin-bottom: 10px !important;
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  .menu__list-item:nth-child(n + 2):nth-child(-n + 4) {
    display: none;
  }

  .cube-center-left,
  .cube-center-right {
    display: none;
  }

  .banner__title div {
    padding: 10px;
    padding-left: 40px;
  }

  .banner__title p {
    font-size: 100%;
    line-height: 27px;
  }

  .why-justo__title svg,
  .why-justo__title image {
    width: 200px;
  }

  .why-justo__content-list {
    font-size: 14px;
    width: 48%;
  }

  .why-justo__content-sticker {
    display: none;
  }

  .why-justo__content-item + .why-justo__content-item {
    margin-top: 20px;
  }

  .chips__video iframe {
    min-height: 315px;
  }

  .chips__content {
    flex-flow: column;
  }

  .chips__list {
    font-size: 15px;
    width: 100%;
  }

  .chips__list + .chips__list {
    margin-top: 25px;
  }

  .chips__list-item h4 {
    padding-left: 20px;
  }

  .topicality__list {
    flex-flow: column;
  }

  .topicality__list-item {
    width: 100%;
    justify-content: start;
  }

  .topicality__list-item img {
    max-width: 80px;
  }

  .pay::after,
  .pay::before {
    width: 25%;
    bottom: -100%;
    top: 0;
  }

  .pay::after {
    left: 0;
  }

  .pay::before {
    right: 45%;
  }

  .profit__list-content ul {
    font-size: 16px;
  }

  .integrations__secondary-title {
    margin-bottom: 20px;
  }

  .servio > img,
  .contact-us > img {
    display: none;
  }

  .servio__content > div {
    width: 100%;
  }

  .servio__content {
    font-size: 16px;
  }

  .servio__content .button {
    margin-top: 15px;
  }

  .contact-us__content {
    flex-flow: column;
  }

  .contact-us__content > p {
    max-width: 100%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-us__form {
    width: 100%;
  }

  .footer__list {
    flex-wrap: wrap;
  }

  .footer__list-item:nth-child(-n + 2) {
    margin-bottom: 20px;
  }

  .footer__list-item {
    width: 50%;
    text-align: center;
  }

  .footer__list-item-social {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 425px) {
  h3 {
    font-size: 16px;
  }

  .banner {
    margin-top: 70px;
  }

  .why-justo__content {
    flex-flow: column;
  }

  .why-justo__content-list {
    width: 100%;
  }

  .why-justo__content-list:last-child {
    margin-top: 20px;
  }

  .servio__content p:last-of-type {
    margin: 15px 0 20px;
  }

  .contact-us__form > p {
    font-size: 16px;
  }

  .contact-us input {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 16px;
  }

  .contact-us__form {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 18px;
  }

  .why-justo {
    padding-top: 0;
  }

  .why-justo__title svg,
  .why-justo__title image {
    width: 170px;
    height: 70px;
  }

  .section-page {
    padding-bottom: 30px;
  }

  .chips__video {
    padding: 0 0 25px;
  }

  .chips__video iframe {
    min-height: 180px;
  }

  .pay::after,
  .pay::before {
    top: 30%;
  }

  .profit__list-content img {
    max-width: 60px;
    margin-right: 10px;
  }

  .servio__content {
    font-size: 14px;
  }

  .button,
  .footer__list-item .button {
    font-size: 14px;
    padding: 10px;
  }

  .footer__list-item ul li:first-child,
  .footer__list-item:nth-child(-n + 2) {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 350px) {
  .topicality__list-item:not(:last-child) {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .pay::after,
  .pay::before {
    top: 40%;
  }
}

@media only screen and (max-width: 320px) {
  .servio__content .button {
    width: 50%;
  }
}

/* .rotation-cube {
  width: var(--size-cube);
  height: var(--size-cube);
  transform-style: preserve-3d;

  animation-name: rotateCube;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  position: absolute;
  top: 50%;
  right: 50%;
}

@keyframes rotateCube {
  from {
    transform: rotateX(-28deg) rotateY(0deg) rotateZ(50deg);
  }
  to {
    transform: rotateX(-28deg) rotateY(360deg) rotateZ(50deg);
  }
}

.side {
  position: absolute;
  width: var(--size-cube);
  height: var(--size-cube);
  border: 5px solid #fff;
  backface-visibility: hidden;
  background-image: url("https://miro.medium.com/max/592/1*eFN_Exto7UKvR3ak4tkDmA.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.front {
  transform: translateZ(var(--translate-z));
}
.back {
  transform: rotateY(180deg) translateZ(var(--translate-z));
}
.right {
  transform: rotateY(90deg) translateZ(var(--translate-z));
}
.left {
  transform: rotateY(-90deg) translateZ(var(--translate-z));
}
.top {
  transform: rotateX(90deg) translateZ(var(--translate-z));
}
.bottom {
  transform: rotateX(-90deg) translateZ(var(--translate-z));
} */
