@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap");

:root {
  --main-orange: #ef7f1a;
  --light-green: #95c127;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

h2 span {
  display: block;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 15px 20px 15px 30px;
  background-color: var(--main-orange);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: rgb(223, 107, 6);
}

.section-page {
  position: relative;
}

main {
  width: 100%;
}

.banner {
  background-image: url('/img/partners-opti-taxi/banner-opti-taxi.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0 230px;
}

.cube {
  position: absolute;
}

.cube-top-left {
  top: 0;
  left: 0;
  max-width: 190px;
  max-height: 270px;
}

.cube-bottom-left {
  max-width: 105px;
  max-height: 180px;
  left: 0;
  bottom: 80px;
}

.cube-bottom-rigth {
  max-width: 120px;
  max-height: 180px;
  right: 0;
  bottom: 50px;
}

.cube-bottom-top-center {
  max-width: 200px;
  max-height: 200px;
  top: 10px;
  right: 570px;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-opti-taxi {
  position: absolute;
  right: 20px;
  bottom: 200px;
  max-width: 1000px;
}

.banner__title-primary {
  max-width: 700px;
  margin-bottom: 70px;
}

.banner__title-primary h2,
.banner__title-primary h3 {
  text-align: left;
  color: #fff;
}

.banner__title-primary h2 span {
  display: block;
}

.banner__title-primary h3 {
  font-weight: 300;
  margin-top: 20px;
}

.banner__title-secondary {
  max-width: 500px;
}

.banner__title-secondary h2 {
  text-align: left;
  color: #000;
  margin-bottom: 25px;
}

.banner__title-secondary-list {
  text-transform: uppercase;
  list-style: disc;
  list-style-position: inside;
  color: var(--main-orange);
  font-size: 20px;
}

.banner__title-secondary-list li + li {
  margin-top: 20px;
}

.banner__title-secondary-list span {
  color: #000;
}

.delivery-map {
  padding: 100px 0 90px;
}

.delivery-map__title {
  color: var(--main-orange);
  margin-bottom: 80px;
}

.delivery-map__img {
  width: 100%;
  margin-bottom: 15px;
}

.delivery-map__img > img {
  width: 110%;
  height: auto;
  transform: translateX(-5%);
}

.delivery-map__list {
  display: flex;
  justify-content: space-between;
}

.delivery-map__list-inside-list {
  color: var(--main-orange);
  list-style: disc;
  text-transform: uppercase;
  font-size: 20px;

}

.delivery-map__list-inside-list span {
  color: var(--light-green);
}

.contact-us {
  padding: 100px 0 80px 15px;
  position: relative;
}

.contact-us__content > p {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 20px;
  color: var(--main-orange);
  text-transform: uppercase;
  max-width: 400px;
  font-weight: bold;
  width: 55%;
}

.contact-us__title {
  color: #ef7b00;
  margin-bottom: 55px;
}

.contact-us__title span {
  display: block;
}

.contact-us > img {
  position: absolute;
  bottom: 30px;
  left: 270px;
  max-width: 700px;
}

.contact-us__content {
  display: flex;
  justify-content: space-between;
}

.contact-us__form {
  max-width: 550px;
  background-color: var(--main-orange);
  padding: 40px 50px 45px;
  text-align: center;
  border-radius: 15px;
}

.contact-us__form > p {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 45px;
  font-weight: bold;
}

.contact-us__form > p span {
  display: block;
}

.contact-us input {
  font-size: 20px;
  color: #808080;
  width: 100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 25px 20px;
}

.contact-us input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  background-color: #95c12b;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.contact-us input[type="submit"]:hover {
  background-color: #7da518;
}

@media only screen and (max-width: 1441px) {
  .car-opti-taxi {
    max-width: 700px;
  }

  .cube-top-left {
    max-width: 120px;
  }
  
  .cube-bottom-top-center {
    right: 430px;
  }

  .cube-bottom-rigth {
    max-width: 100px;
    bottom: 15px;
  }

  .contact-us > img {
    left: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 35px;
  }

  .car-opti-taxi {
    max-width: 600px;
  }   

  .banner__title-secondary-list,
  .delivery-map__list-inside-list {
    font-size: 18px;
  }

  .cube-top-left {
    display: none !important;
  }

  .cube-bottom-left {
    max-width: 90px;
    bottom: 40px;
  }

  .cube-bottom-top-center {
    max-width: 170px;
    top: 20px;
    right: 340px;
  }

  .delivery-map {
    padding-bottom: 0;
  }

  .delivery-map__img > img {
    width: 100%;
    transform: translateX(0);
  }

  
  .contact-us > img {
    max-width: 420px;
  }
}

@media only screen and (max-width: 1024px) {
  .car-opti-taxi {
    max-width: 500px;
  }

  .cube-bottom-top-center {
    right: 140px;
  }
}

@media only screen and (max-width: 876px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  .car-opti-taxi {
    max-width: 450px;
    bottom: 60px;
  }

  .section-page {
    padding: 25px 15px 50px;
  }

  .cube-bottom-left,
  .cube-bottom-rigth {
    display: none !important;
  }

  .cube-bottom-top-center {
    max-width: 130px;
    right: 120px;
  }

  .banner__title-primary {
    margin-bottom: 40px;
  }

  .banner__title-secondary {
    max-width: 350px;
  }

  .banner__title-secondary-list, 
  .delivery-map__list-inside-list {
    font-size: 16px;
  }

  .delivery-map {
    padding: 60px 0 40px;
  }

  .delivery-map__title {
    margin-bottom: 50px;
  }

  .delivery-map__list {
    flex-wrap: wrap-reverse;
  }

  .delivery-map__list > li {
    width: 50%;
    padding-left: 50px;
  }

  .button {
    font-size: 16px;
  }

  .contact-us__content > p {
    font-size: 16px;
  }

  .contact-us > img {
    max-width: 430px;
    left: 50px;
  }

  .contact-us__form {
    padding: 30px 35px;
    width: 50%;
  }

  .contact-us__form > p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contact-us input {
    font-size: 18px;
    margin-bottom: 25px;
    padding: 20px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-bottom: 30px !important;
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  .button {
    font-size: 16px;
    padding: 10px;
  }

  .banner__title-secondary {
    max-width: 330px;
  }

  .banner__title-secondary-list, 
  .delivery-map__list-inside-list {
    font-size: 15px;
  }

  .cube-bottom-top-center {
    right: 90px;
  }

  .contact-us__content {
    justify-content: center;
  }

  .contact-us__content > p {
    margin-right: 15px;
  }

  .contact-us > img {
    display: none !important;
  }

  .contact-us__form {
    width: 65%;
  }
}

@media only screen and (max-width: 517px) {
  h2 {
    margin-bottom: 20px !important;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .section-page {
    padding: 25px 15px 25px;
  }
  
  .banner {
    background-position: center left;
  }

  .cube-bottom-top-center {
    display: none !important;
  }

  .car-opti-taxi,
  .contact-us > img {
    display: none !important;
  }

  .contact-us__content > p {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    margin: 0 auto 30px;
  }

  .contact-us__content {
    flex-flow: column;
  }

  .contact-us__form {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  .container {
    padding: 0 15px;
  }

  .banner__title-primary {
    margin-bottom: 15px;
  }

  .banner__title-secondary-list, 
  .delivery-map__list-inside-list {
    font-size: 14px;
  }

  .delivery-map__list > li {
    padding-left: 25px;
  }

  .delivery-map {
    padding-bottom: 15px;
  }

  .contact-us__form > p {
    font-size: 16px;
  }

  .contact-us input {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 16px;
  }

  .contact-us__form {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 18px;
  }

  .section-page {
    padding-bottom: 30px;
  }

  .button {
    font-size: 14px;
    padding: 10px;
  }

  .delivery-map__list > li {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {

}

@media only screen and (max-width: 320px) {

}