* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*
    @media only screen and (max-width: 43.75rem) {
        font-size: 71.42%;
    }

    @media only screen and (max-width: 32.625rem) {
        font-size: 83.3%;
    }
    */
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #8c969f;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*
    @media screen and (max-width: 64rem){
        &--main {
            font-size: 4vmax;
        }

        &--sub {
            font-size: 3vmax;
        }
    }

    @media only screen and (max-width: 32.625rem) {
        &--main {
            font-size: 1.8rem;
        }

        &--sub {
            font-size: 1.5rem;
            letter-spacing: .3rem;
        }
    }
    */
}

.heading-primary--main {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  border-bottom: 1px solid #fff;
}

.heading-primary--sub {
  padding-top: 1rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .7rem;
}

.heading-secondary {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.heading-secondary--main {
  background-image: -webkit-gradient(linear, left top, right top, from(#4286b3), to(#2e688d));
  background-image: linear-gradient(to right, #4286b3, #2e688d);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  display: block;
  position: absolute;
  top: -3rem;
  left: 50%;
  margin-left: -29%;
}

.heading-secondary--sub {
  display: block;
  color: #74acc5;
  font-weight: 500;
  font-size: 2rem;
}

.heading-secondary--marker {
  margin: 0 1rem 0 1rem;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary--main {
    margin-left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
  }
}

@media only screen and (max-width: 32.625rem) {
  .heading-secondary--main {
    top: -8rem;
    line-height: 5rem;
  }
  .heading-secondary--sub {
    text-align: center;
    display: block;
  }
}

.heading-third {
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.paragraph--main {
  color: #4d9ac8;
  font-size: 2rem;
  font-weight: 700;
}

.link {
  color: #cc7878;
  font-family: 'raleway_bold';
  font-size: 2rem;
}

.p-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #cc7878;
  font-weight: 800;
  border: 1px solid #cc7878;
  border-radius: 15%;
  padding: 1rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.p-link:not(:last-child) {
  margin-right: 1rem;
}

.p-link:hover {
  color: #fff;
  background-color: #cc7878;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  opacity: .15;
  width: 100%;
  height: 100vh;
}

.bg-video__content {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-list {
  padding: 0 4rem;
}

.work-list__item {
  margin-left: 2rem;
}

.work-list__item:not(:last-child) {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .work-list {
    padding: 0;
  }
  .work-list__item {
    margin-left: 0;
  }
}

.portfolio {
  width: 95%;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.portfolio__shape {
  width: 35%;
  height: 20rem;
  position: relative;
  background: #000;
  margin-right: 4rem;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.portfolio__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-transform: uppercase;
}

.portfolio:hover .portfolio__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio:hover .portfolio__img {
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.portfolio:hover {
  background-color: white;
}

.portfolio__description {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
  width: 65%;
  text-align: justify;
  padding: 0 4rem 0 2rem;
}

.portfolio__description > p:first-child {
  text-transform: uppercase;
}

.portfolio__links {
  margin-top: 1.5rem;
  text-align: right;
}

@media only screen and (max-width: 56.25em) {
  .portfolio {
    width: 100%;
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
  .portfolio__shape {
    margin-right: 1rem;
  }
  .portfolio__description {
    -webkit-transform: skewX(0);
            transform: skewX(0);
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .portfolio__shape {
    width: 100%;
    margin-right: 0;
  }
  .portfolio__description {
    width: 100%;
    padding: 1rem;
    text-align: left;
  }
}

.summary-box {
  width: 85%;
}

.summary-box__list {
  margin-left: 4rem;
}

.summary-box--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.summary-box--item:not(:last-child) {
  margin-bottom: 2rem;
}

.summary-box--item:hover {
  background-color: white;
}

.summary-box--date {
  border-right: 2px solid #feb7c2;
  padding: 2rem;
  width: 15%;
}

.summary-box--text {
  padding: 2rem;
  width: 85%;
}

@media only screen and (max-width: 56.25em) {
  .summary-box {
    width: 100%;
  }
  .summary-box__list {
    margin-left: 0;
  }
  .summary-box--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    padding: 1rem;
  }
  .summary-box--date {
    width: 100%;
    border: none;
    padding: 0;
    text-align: right;
  }
  .summary-box--text {
    padding: 0;
    width: 100%;
  }
}

.skills-box {
  width: 85%;
}

.skills-box__list {
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-box--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.skills-box--item:hover {
  background-color: white;
}

.skills-box--icon {
  padding: 1rem;
  margin-right: 1rem;
}

.skills-box--icon > svg {
  height: 6rem;
  fill: #feb7c2;
}

@media only screen and (max-width: 56.25em) {
  .skills-box {
    width: 100%;
  }
  .skills-box__list {
    margin-left: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .skills-box--item {
    width: 100%;
  }
}

.main {
  margin-left: 30rem;
  width: 100;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .main {
    margin-left: 0;
  }
}

.hideContainer {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.showContainer {
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.side-pannel {
  width: 30rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#4d9ac8), to(#78bbcd));
  background: linear-gradient(#4d9ac8, #78bbcd);
  z-index: 110;
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /*
    @media screen and (max-width: 64rem) {
        left: -50%;
        width: 50%;

        &__toggle {
            display: block;
            width: 7rem;
            height: 7rem;
            right: -7rem;
        }
    }

    @media only screen and (max-width: 32.625rem) {
        left: -80%;
        width: 80%;
        padding: 0 2rem;
    }
    */
}

.side-pannel__toggle {
  width: 4rem;
  height: 4rem;
  background: #fff;
  border-radius: 0 50% 50% 0;
  position: absolute;
  top: 50%;
  right: -4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.side-pannel__toggle--svg {
  position: absolute;
  top: 1rem;
  left: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 2rem;
  height: 2rem;
  fill: #cecece;
}

@media only screen and (max-width: 56.25em) {
  .side-pannel {
    display: none;
  }
}

.isActive-pannel {
  left: 0;
}

.isActive-toggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: .7rem;
}

.social {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 16rem 3rem 0 3rem;
  /*
    @media screen and (max-width: 64rem) {

        &__list {
            justify-content: space-between;
        }

        &__icon {
            width: 5vmax;
            height: 5vmax;
        }
      
    }
*/
}

.social__nav {
  padding: 2rem;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.social__link {
  text-decoration: none;
}

.social__link:focus {
  -moz-outline-radius: 2rem;
}

.social__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.social__icon > embed {
  fill: aqua;
}

.social__icon:hover, .social__icon:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header {
  width: 100%;
  position: relative;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  /*
    @media screen and (max-width: 64rem) {
        &__photo-box {
            width: 20vmax;
            height: 20vmax;
        }
    }
    */
}

.header__photo-box {
  width: 10vmax;
  height: 10vmax;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
}

.header__photo {
  height: 100%;
}

.header__text-box {
  padding-top: 2rem;
  text-align: center;
}

.navigation {
  padding-top: 3.5rem;
  /*
    @media screen and (max-width: 64rem) {
        &__item {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &__link {
            &:link,
            &:visited {
                font-size: 2.5vmax;
            }
        }
    }
*/
}

.navigation__list {
  list-style: none;
  width: 100%;
}

.navigation__item {
  position: relative;
  cursor: pointer;
}

.navigation__item:not(:last-child) {
  margin-bottom: .5rem;
}

.navigation__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.navigation__item:hover::before, .navigation__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.navigation__item:active::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.navigation__link:link, .navigation__link:visited {
  display: block;
  text-decoration: none;
  padding: 1rem 0 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.home {
  width: 70rem;
  height: 30rem;
  background: rgba(120, 187, 205, 0.1);
  position: relative;
  padding: 3rem 5rem;
}

.home__text > p {
  text-align: justify;
}

@media only screen and (max-width: 56.25em) {
  .home {
    padding: 2rem;
  }
}

.panel-body-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.active-mask {
  opacity: 1;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 56.25em) {
  .section {
    position: relative;
  }
}

.wrap {
  position: relative;
  width: inherit;
}

.section-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.section-summary {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(120, 187, 205, 0.8)), to(rgba(255, 255, 255, 0.2))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(120, 187, 205, 0.8), rgba(255, 255, 255, 0.2)), url(../img/hero.jpg);
  background-size: 100% 100%;
  background-position: top;
  position: relative;
  padding: 4rem 2rem;
}

.section-portfolio {
  padding: 4rem 2rem;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(120, 187, 205, 0.8)), to(rgba(255, 255, 255, 0.2))), url(../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(120, 187, 205, 0.8), rgba(255, 255, 255, 0.2)), url(../img/nat-4.jpg);
  background-size: cover;
}

.header-box {
  padding: 1rem;
  background-color: rgba(188, 187, 191, 0.6);
  width: 22rem;
  border-radius: 1rem;
}
/*# sourceMappingURL=style.css.map */