@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap");

:root {
  --main-orange: #ef7f1a;
  --light-green: #95c127;
  --size-cube: 120px;
  --translate-z: calc(var(--size-cube) / 2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 15px 20px 15px 30px;
  background-color: var(--main-orange);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: rgb(223, 107, 6);
}

.section-page {
  position: relative;
}

.cube-center-left {
  position: absolute;
  left: 0;
  top: 320px;
  max-width: 220px;
}

.cube-center-right {
  position: absolute;
  right: 0;
  top: 375px;
  width: 150px;
}

.cube-bottom-center {
  position: absolute;
  bottom: 100px;
  right: 40%;
  max-width: 170px;
}

.cube-center-left img,
.cube-center-right img,
.cube-bottom-center img {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
}

.banner {
  background-image: url("../img/banner-preorder.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  padding: 10.8vmax 0 10.15vmax;
  color: #fff;
  margin-top: 70px;
}

.banner__title {
  width: 52%;
  font-weight: 700;
}

.banner p {
  width: 100%;
  line-height: 3rem;
  font-size: 48px;
  font-size: 2vw;
}

.banner__title div {
  width: 100%;
  text-transform: uppercase;
}

.banner__title--primary {
  background-color: rgba(239, 127, 26, 0.8);
  padding: 45px 20px 40px 300px;
}

.banner__title--secondary {
  background-color: rgba(149, 193, 43, 0.8);

  padding: 45px 10px 40px 300px;
}

.banner__title--primary span,
.banner__title--secondary span {
  display: block;
}

.link-demo-menu {
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  display: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: var(--light-green);
  border: none;
  border-radius: 10px;
}

.time {
  padding: 60px 15px 100px;
  font-family: "Montserrat Medium", sans-serif;
  font-size: 24px;

}

.time__title {
  color: var(--main-orange);
  margin-bottom: 40px;
}

.time__content {
  display: flex;
  justify-content: center;
}

.time__content-img {
  background-image: url('../img/time-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 35%;
}

.time__content-text {
  width: 55%;
  color: var(--main-orange);
  padding: 40px 0 80px;
  margin-left: 40px;
}

.time__content-text p + p {
  margin-top: 30px;
}

.time__answer {
  background-color: var(--main-orange);
  padding: 20px 65px 25px;
  color: #fff;
  border-radius: 10px;
}

.time__answer h3 {
  margin-bottom: 20px;
}

.view {
  padding: 90px 0;
}

.view > img {
  position: absolute;
  top: -20%;
  right: 0;
  max-width: 17%;
}

.view__title {
  color: var(--main-orange);
  margin-bottom: 35px;
}

.view__secondary-title {
  color: var(--light-green);
  width: 80%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.view__content {
  display: flex;
  justify-content: space-around;
}

.view__content-text {
  width: 50%;
  padding-top: 30px;
  font-size: 20px;
  color: var(--light-green);
}

.view__content-text > p {
  width: 75%;
  text-transform: uppercase;
}

.view__content > img {
  width: 50%;
  height: 100%;
}

.view__content-title {
  margin-bottom: 30px;
  color: var(--main-orange);
  position: relative;
}

.view__content-title::after {
  content: '';
  background-image: url('/img//view-arrow-right.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 90px;
  position: absolute;
  top: -25%;
  right: 40px;
}

.view__content-title h4 span {
  display: block;
}

.view-personal {
  padding: 70px 15px 100px;
  background-color: var(--light-green);
}

.view-personal__title {
  margin-bottom: 50px;
  
}

.view-personal__list {
  display: flex;
  justify-content: space-between;
}

.view-personal__list-item {
  width: 30%;
  text-align: center;
}

.view-personal__list-item img {
  max-width: 270px;
  height: auto;
  margin-bottom: 50px;
}

.view-personal__list-item h4 {
  color: #fff;
  margin-bottom: 40px;
}

.view-personal__list-item p {
  font-size: 20px;
  font-family: "Montserrat Medium", sans-serif;
}

.how-to-work-slider {
  padding: 80px 0;
  background-image: url("../img/how-to-work-slider-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to-work-slider__title {
  color: var(--main-orange);
  margin-bottom: 60px;
}

.img-slide {
  width: 100%;
  height: auto;
}

.profit {
  padding: 60px 100px;
}

.profit__title {
  color: var(--main-orange);
  padding: 0 100px;
  margin-bottom: 160px;
}

.profit__list {
  display: flex;
  justify-content: space-between;
}

.profit__list-item {
  width: 30%;
  background-color: #eeeeee;
  padding: 0 15px 30px;
}

.profit__list-content {
  text-align: center;
}

.profit__list-content img {
  margin-top: -90px;
  max-width: 200px;
}

.profit__list-content h4 {
  color: var(--light-green);
  margin: 25px 0 35px;
}

.profit__list-content ul {
  text-align: left;
  list-style: disc inside;
  color: var(--light-green);
  font-size: 16px;
}

.profit__list-content li:not(:last-child) {
  margin-bottom: 15px;
}

.profit__list-content ul span {
  color: #000;
}

.how-to-work {
  padding: 80px 0;
  background-image: url("../img/how-to-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to-work__title {
  text-align: center;
  margin-bottom: 50px;
}

.how-to-work img {
  width: 100%;
  height: auto;
}

.tarifs {
  padding: 70px 0;
}

.tarifs__title {
  margin-bottom: 60px;
  color: #ef7b00;
}

.tarifs__plane-list {
  display: flex;
  justify-content: center;
}

.tarifs__plane-list-item {
  width: 35%;
  background-color: #eeeeee;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarifs__plane-list-item + .tarifs__plane-list-item {
  margin-left: 30px;
}

.green-primary {
  background-color: #95c12b;
}
.green-secondary {
  background-color: #628b00;
}

.orange-primary {
  background-color: #f07c00;
}

.orange-secondary {
  background-color: #be6200;
}

.tarifs__plane-list-title {
  padding: 50px 0;
  color: #fff;
}

.tarifs__plane-list-title h3 {
  padding: 25px 0;
}

.tarifs__plane-list-item ul {
  margin: 30px 0 80px;
  list-style: disc inside;
  color: var(--light-green);
  font-size: 20px;
  padding: 0 45px;
}

.tarifs__plane-list-item ul li:not(:last-child) {
  margin-bottom: 20px;
}

.tarifs__plane-list-item ul li span {
  color: #000;
}

.tarifs__plane-list-item .button {
  align-self: center;
}

.button.green-primary:hover {
  background-color: #628b00;
}

.contact-us {
  padding: 100px 0 80px;
  background-color: #95c12b;
}

.contact-us .container {
  padding: 0;
}

.contact-us__title {
  margin-bottom: 55px;
}

.contact-us__title span {
  display: block;
}

.contact-us > img {
  position: absolute;
  bottom: 30px;
  left: 270px;
  max-width: 700px;
}

.contact-us__content {
  display: flex;
  justify-content: flex-end;
}

.contact-us__form {
  max-width: 550px;
  background-color: var(--main-orange);
  padding: 40px 50px 45px;
  text-align: center;
  border-radius: 15px;
}

.contact-us__form > p {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 45px;
  font-weight: bold;
}

.contact-us__form > p span {
  display: block;
}

.contact-us input {
  font-size: 20px;
  color: #808080;
  width: 100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 25px 20px;
}

.contact-us input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  background-color: #95c12b;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.contact-us input[type="submit"]:hover {
  background-color: #7da518;
}

.slider {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.slider__item {
  text-align: center;
}

.slider__item > img {
  width: 100%;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 100;
  font-size: 0;
  width: 35px;
  height: 60px;
  border: 0;
  cursor: pointer;
  transform: translateY(-50%);
}

.slick-list {
  overflow: hidden;
}

.slider .slick-arrow:focus {
  outline: 0;
}

.slider .slick-arrow.slick-prev {
  left: -100px;
  background: url("/img/arrow-left.png") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: -100px;
  background: url("/img/arrow-right.png") 0 0 / 100% no-repeat;
}

@media only screen and (max-width: 1550px) {
  .contact-us > img {
    left: 180px;
  }
}

@media only screen and (max-width: 1440px) {
  .view > img {
    max-width: 15%;
  }

  .view__content > img {
    width: 45%;
}

  .cube-bottom-center {
    right: 38%;
  }

  .contact-us > img {
    left: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner__title {
    width: 60%;
  }

  .banner__title div {
    padding: 25px 20px 25px 230px;
  }

  .banner__title p {
    font-size: 25px;
  }

  .cube-center-left {
    max-width: 170px;
    top: 260px;
  }

  .cube-bottom-center {
    display: none;
  }

  .cube-center-right {
    width: 120px;
  }

  .view {
    padding-bottom: 0;
  }

  .view__content > img {
    width: 40%;
  }

  .view__content > img {
    width: 40%;
  }

  .view__content-text {
    width: 55%;
  }

  .contact-us .container {
    padding: 0 15px;
  }

  .contact-us > img {
    max-width: 420px;
  }
}

@media only screen and (max-width: 1024px) {
  .cube-center-right {
    width: 105px;
    top: 470px;
  }

  .profit__title {
    padding: 0;
  }
}

@media only screen and (max-width: 876px) {
  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 22px;
  }

  .section-page {
    padding: 25px 15px 50px;
  }

  .banner {
    margin-top: 80px;
    padding-left: 0;
  }

  .banner__title {
    width: 85%;
  }

  .button {
    font-size: 18px;
  }

  .cube-center-left {
    max-width: 130px;
    top: 140px;
}

  .cube-center-right {
    top: 220px;
  }

  .view__content-title::after {
    width: 120px;
    right: 0;
  }

  .profit__title {
    padding: 0;
    margin-bottom: 30px;
  }

  .time {
    font-size: 20px;
  }

  .time__content-text {
    padding-top: 0;
    font-size: 18px;
  }

  .view__content-text > p {
    width: 100%;
    font-size: 18px;
  } 

  .time__content-text p + p {
    margin-top: 20px;
  }

  .profit__list {
    display: block;
  }

  .profit__list-content {
    text-align: left;
  }

  .profit__list-content > h4 {
    display: inline-block;
    margin: 0 0 15px;
  }

  .profit__list-content img {
    max-width: 100px;
    margin: 0;
    display: inline-block;
    margin-right: 20px;
  }

  .profit__list-item {
    width: 100%;
    padding: 20px 40px;
  }

  .profit__list-item + .profit__list-item {
    margin-top: 20px;
  }

  .profit__list-content ul {
    font-size: 20px;
    list-style: disc;
  }

  .tarifs__plane-list-item {
    width: 50%;
  }

  .tarifs__plane-list-title {
    padding: 35px 0;
  }

  .tarifs__plane-list-title h3 {
    padding: 15px 0;
  }

  .tarifs__plane-list-item ul {
    margin: 20px 0 40px;
  }

  .tarifs__plane-list-item {
    padding-bottom: 35px;
  }

  .tarifs__plane-list-item ul li:not(:last-child) {
    margin-bottom: 10px;
  }

  .tarifs__plane-list-item ul li span {
    font-size: 18px;
  }

  .how-to-work__title {
    padding: 0;
    margin-bottom: 10px;
  }

  .contact-us > img {
    max-width: 430px;
    left: 50px;
  }

  .contact-us__form {
    padding: 30px 35px;
    width: 50%;
  }

  .contact-us__form > p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contact-us input {
    font-size: 18px;
    margin-bottom: 25px;
    padding: 20px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-bottom: 30px !important;
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  .button {
    font-size: 16px;
    padding: 10px;
  }

  .view-personal__list-item img {
    max-width: 200px;
    max-height: 160px;
    margin-bottom: 25px;
  }

  .view__secondary-title {
    margin-bottom: 30px;
  }

  .view-personal__list-item p {
    font-size: 16px;
  }

  .contact-us__content {
    justify-content: center;
  }

  .contact-us > img {
    display: none !important;
  }

  .contact-us__form {
    width: 65%;
  }

  .slider .slick-arrow.slick-prev {
    left: -80px;
  }

  .slider .slick-arrow.slick-next {
    right: -80px;
  }
}

@media only screen and (max-width: 517px) {
  h2 {
    margin-bottom: 20px !important;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .cube-center-left,
  .cube-center-right {
    display: none;
  }

  .banner__title div {
    padding: 10px;
    padding-left: 40px;
  }

  .banner__title p {
    font-size: 100%;
    line-height: 27px;
  }

  .time {
    font-size: 16px;
}

  .time__content-text {
    font-size: 16px;
    padding-bottom: 30px;
    margin: 0;
    width: 95%;
  }

  .time__content-img {
    background-image: none;
    width: 0;
  }

  .time__answer {
    padding: 20px 20px 25px
  }

  .view__content-text {
    width: 100%;
  }

  .view__content-title {
    margin-bottom: 0;
  }

  .view__content-text h4 { 
    text-align: center;
  }

  .view__secondary-title {
    width: 100%;
    margin-bottom: 0;
  }

  .view__content-text h4 span {
    display: inline;
  }

  .view__content-text > p {
    font-size: 16px;
  }

  .view > img,
  .view__content > img,
  .view__content-title::after {
    display: none !important;
  }

  .link-demo-menu {
    display: block;
  }

  .view-personal__list {
    display: block;
  }

  .view-personal__list-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .view-personal__list-item + .view-personal__list-item {
    margin-top: 15px;
  }

  .view-personal__list-item > div {
    width: 60%;
  }

  .view-personal__list-item img {
    max-width: 130px;
    max-height: 103px;
    width: 33%;
    margin-right: 15px;
  }

  .view-personal__list-item h4 {
    margin-bottom: 10px;
  }

  .view-personal__list-item p {
    font-size: 16px;
    text-align: left;
  }

  .profit__list-content ul {
    font-size: 16px;
  }

  .tarifs__plane-list {
    flex-flow: column;
    align-items: center;
  }

  .tarifs__plane-list-item {
    width: 90%;
  }

  .tarifs__plane-list-item + .tarifs__plane-list-item {
    margin-top: 30px;
    margin-left: 0;
  }

  .contact-us__content {
    flex-flow: column;
  }

  .contact-us__form {
    width: 100%;
  }

  .slider .slick-arrow {
    width: 20px;
  }

  .slider .slick-arrow.slick-prev {
    left: -50px;
  }

  .slider .slick-arrow.slick-next {
    right: -50px;
  }
}

@media only screen and (max-width: 425px) {
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  .banner {
    margin-top: 70px;
  }

  .view-personal__list-item p {
    font-size: 14px;
    padding-left: 15px;
  }

  .contact-us__form > p {
    font-size: 16px;
  }

  .contact-us input {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 16px;
  }

  .contact-us__form {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 18px;
  }

  .section-page {
    padding-bottom: 30px;
  }

  .tarifs__plane-list-item {
    width: 100%;
  }

  .profit__list-content img {
    max-width: 60px;
    margin-right: 10px;
  }

  .button {
    font-size: 14px;
    padding: 10px;
  }

  .tarifs__plane-list-item ul {
    padding: 0 25px;
    margin-bottom: 30px;
  }

  .tarifs__plane-list-item ul li span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 350px) {
  .slider .slick-arrow {
    width: 10px;
    transform: translateY(-25%);
  }
}

@media only screen and (max-width: 320px) {
  .link-demo-menu {
    width: 80%;
  }
}
