@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap");

:root {
  --main-orange: #ef7f1a;
  --light-green: #95c127;
  /* --size-cube: 150px;
  --translate-z: calc(var(--size-cube) / 2); */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 15px 20px 15px 30px;
  background-color: var(--main-orange);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: rgb(223, 107, 6);
}

.section-page {
  position: relative;
}

.cube-center-left {
  position: absolute;
  left: 0;
  top: 320px;
  max-width: 220px;
}

.cube-center-right {
  position: absolute;
  right: 0;
  top: 375px;
  max-width: 120px;
}

.cube-bottom-center {
  position: absolute;
  bottom: 100px;
  right: 40%;
  max-width: 170px;
}

.cube-center-left img,
.cube-center-right img,
.cube-bottom-center img {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
}

.banner {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  padding: 10.8vmax 0 10.15vmax;
  color: #fff;
  margin-top: 70px;
}

.banner__title {
  width: 52%;
  font-weight: 700;
}

.banner p {
  width: 100%;
  line-height: 3rem;
  font-size: 48px;
  font-size: 2vw;
}

.banner__title div {
  width: 100%;
  text-transform: uppercase;
}

.banner__title--primary {
  background-color: rgba(239, 127, 26, 0.8);
  padding: 45px 20px 40px 365px;
}

.banner__title--secondary {
  background-color: rgba(149, 193, 43, 0.8);

  padding: 45px 10px 40px 365px;
}

.banner__title--primary span, 
.banner__title--secondary span {
  display: block;
}

.why-justo {
  background-color: #fff;
  padding: 50px 15px 100px;
  font-family: "Montserrat Medium", sans-serif;
  color: var(--light-green);
  position: relative;
}

.why-justo__title {
  margin-bottom: 25px;
}

.why-justo__secondary-title {
  color: var(--light-green);
  text-align: center;
  margin-bottom: 70px;
  font-weight: bold;
}

.why-justo__content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.why-justo__content-list {
  text-transform: uppercase;
  font-size: 20px;
  width: 25%;
}

.why-justo__content-item h4 {
  color: var(--main-orange);
  margin-bottom: 10px;
}

.why-justo__content-item + .why-justo__content-item {
  margin-top: 35px;
}

.why-justo__content .why-justo__content-sticker {
  align-self: center;
}

.why-justo__content-sticker {
  width: 35%;
  height: auto;
}

.why-justo__content-sticker img {
  width: 100%;
}

.chips {
  padding: 75px 15px 95px;
  background-color: #99cc33;
  font-family: "Montserrat Medium", sans-serif;
  position: relative;
}

.why-justo > img {
  position: absolute;
  top: -33%;
  right: 0;
  max-width: 17%;
}

.chips__title {
  width: 80%;
  margin: 0 auto;
}

.chips__video {
  padding: 65px 0 60px;
}

.chips__video iframe {
  width: 100%;
  min-height: 635px;
}

.chips__list {
  font-size: 24px;
  list-style: disc outside;
  color: var(--main-orange);
  text-align: left;
  margin: 35px 0 55px -50px;
}

.chips__list-item p {
  color: #fff;
}

.chips__content {
  padding: 0 90px;
  color: #fff;
  text-align: center;
}

.chips__content > div {
  display: flex;
  justify-content: center;
}

.chips__content h4:first-child {
  margin-bottom: 30px;
}

.topicality {
  padding: 90px 15px 95px;
  font-family: "Montserrat ExtraBold", sans-serif;
  background-image: url("../img/topicality-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.topicality__title {
  margin-bottom: 90px;
}

.topicality__list {
  padding-left: 100px;
  list-style: disc;
  list-style-position: outside;
  color: #95c12b;
  font-size: 50px;
}

.topicality__list-item {
  line-height: 30px;
}

.topicality__list-item + .topicality__list-item {
  margin-top: 30px;
}

.topicality__list-item p {
  font-size: 24px;
  color: #fff;
  display: inline;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
}

.topicality > img {
  position: absolute;
  left: -3%;
  top: -12%;
  max-width: 20%;
  transform: rotate(21deg);
}

.view-personal {
  padding: 70px 15px 100px;
  background-color: #99cc33;
}

.view-personal__title {
  margin-bottom: 50px;
}

.view-personal__list {
  display: flex;
  justify-content: space-between;
}

.view-personal__list-item {
  width: 30%;
  text-align: center;
}

.view-personal__list-item img {
  max-width: 270px;
  height: auto;
  margin-bottom: 50px
}

.view-personal__list-item h4 {
  color: #fff;
  margin-bottom: 40px;
}

.view-personal__list-item p {
  font-size: 20px;
  font-family: "Montserrat Medium", sans-serif;
}

.how-to-work-slider {
  padding: 80px 0;
  background-image: url("../img/how-to-work-slider-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to-work-slider__title {
  color: var(--main-orange);
  margin-bottom: 60px;
}

.img-slide {
  width: 100%;
  height: auto;
}

.profit {
  padding-bottom: 100px;
}

.profit__title {
  color: var(--main-orange);
  padding: 0 100px;
  margin-bottom: 160px;
}

.profit__list {
  display: flex;
  justify-content: space-between;
}

.profit__list-item {
  width: 30%;
  background-color: #eeeeee;
  padding: 0 15px 30px;
}

.profit__list-content {
  text-align: center;
}

.profit__list-content img {
  margin-top: -90px;
  max-width: 200px;
}

.profit__list-content h4 {
  color: var(--light-green);
  margin: 25px 0 35px;
}

.profit__list-content ul {
  text-align: left;
  list-style: disc inside;
  color: var(--light-green);
  font-size: 16px;
}

.profit__list-content li:not(:last-child) {
  margin-bottom: 15px;
}

.profit__list-content ul span {
  color: #000;
}

.how-to-work {
  padding: 80px 0;
  background-image: url("../img/how-to-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to-work__title {
  padding: 0 200px;
  text-align: center;
  margin-bottom: 50px;
}

.how-to-work img {
  width: 100%;
  height: auto;
}

.integrations {
  padding: 70px 0 80px;
  background-color: #ef7b00;
  text-align: center;
}

.integrations__title {
  margin-bottom: 35px;
}

.integrations__secondary-title {
  margin-bottom: 70px;
  color: #fff;
}

.integrations__image {
  max-width: 1000px;
  width: 100%;
  height: auto;
}

.tarifs {
  padding: 70px 0;
}

.tarifs__title {
  margin-bottom: 60px;
  color: #ef7b00;
}

.tarifs__plane-list {
  display: flex;
  justify-content: center;
}

.tarifs__plane-list-item {
  width: 35%;
  background-color: #eeeeee;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarifs__plane-list-item + .tarifs__plane-list-item {
  margin-left: 30px;
}

.green-primary {
  background-color: #95c12b;
}
.green-secondary {
  background-color: #628b00;
}

.orange-primary {
  background-color: #f07c00;
}

.orange-secondary {
  background-color: #be6200;
}

.tarifs__plane-list-title {
  padding: 50px 0;
  color: #fff;
}

.tarifs__plane-list-title h3 {
  padding: 25px 0;

}

.tarifs__plane-list-item ul {
  margin: 30px 0 80px;
  list-style: disc inside;
  color: var(--light-green);
  font-size: 20px;
  padding: 0 50px;
}

.tarifs__plane-list-item ul li:not(:last-child) {
  margin-bottom: 20px;
}

.tarifs__plane-list-item ul li span {
  color: #000;
}

.tarifs__plane-list-item .button {
  align-self: center;
}

.contact-us {
  padding: 100px 0 80px 15px;
  position: relative;
}

.contact-us__title {
  color: #ef7b00;
  margin-bottom: 55px;
}

.contact-us__title span {
  display: block;
}

.contact-us > img {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 45%;
}

.contact-us__content {
  display: flex;
  justify-content: flex-end;
}

.contact-us__form {
  max-width: 550px;
  background-color: var(--main-orange);
  padding: 40px 50px 45px;
  text-align: center;
  border-radius: 15px;
}

.contact-us__form > p {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.contact-us__form > p span {
  display: block;
}

.contact-us input {
  font-size: 20px;
  color: #808080;
  width: 100%;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 25px 20px;
}

.contact-us input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  background-color: #95c12b;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.contact-us input[type="submit"]:hover {
  background-color: #7da518;
}

@media only screen and (max-width: 1440px) {
  .why-justo > img {
    top: -15%;
    max-width: 12%;
  }

  .topicality > img {
    top: -8%;
    max-width: 18%;
  }
}

@media only screen and (max-width: 1200px) {
  .banner__title div {
    padding: 25px 20px 25px 230px;
  }

  .banner__title p {
    font-size: 25px;
  }

  .cube-center-left {
    max-width: 170px;
    top: 260px;
  }

  .cube-bottom-center {
    display: none;
  }

  .cube-center-right {
    top: 380px;
  }

  .why-justo > img {
    max-width: 150px;
    top: -9%;
  }

  .topicality > img {
    top: -7%;
    max-width: 200px;
  }

  .contact-us > img {
    max-width: 580px;
  }
}

@media only screen and (max-width: 876px) {
  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 22px;
  }

  .section-page {
    padding: 25px 15px 50px;
  }

  .banner {
    margin-top: 80px;
    padding-left: 0;
  }

  .banner__title {
    width: 85%;
  }

  .button {
    font-size: 18px;
  }

  .cube-center-left {
    max-width: 150px;
    top: 220px;
  }

  .cube-center-right {
    top: 264px;
    max-width: 105px;
  }

  .why-justo__content-list {
    font-size: 18px;
    width: 30%;
  }

  .why-justo > img,
  .topicality > img {
    display: none;
  }

  .chips__video iframe {
    min-height: 465px;
  }

  .topicality__list-item {
    width: 80%;
  }

  .topicality__list-item p {
    font-size: 20px;
  }

  .topicality__list-item img {
    max-width: 120px;
  }

  .pay::after {
    left: -10px;
  }

  .pay::after,
  .pay::before {
    max-width: 120px;
  }

  .profit__title {
    padding: 0;
    margin-bottom: 30px;
  }

  .profit__list {
    display: block;
  }

  .profit__list-content {
    text-align: left;
  }

  .profit__list-content > h4 {
    display: inline-block;
    margin: 0 0 15px;
  }

  .profit__list-content img {
    max-width: 100px;
    margin: 0;
    display: inline-block;
    margin-right: 20px;
  }

  .profit__list-item {
    width: 100%;
    padding: 20px 40px;
  }

  .profit__list-item + .profit__list-item {
    margin-top: 20px;
  }

  .profit__list-content ul {
    font-size: 20px;
    list-style: disc;
  }

  .tarifs__plane-list-item {
    width: 50%;
  }

  .tarifs__plane-list-title {
    padding: 35px 0;
  }

  .tarifs__plane-list-title h3 {
    padding: 15px 0;
  }

  .tarifs__plane-list-item ul {
    margin: 20px 0 40px;
  }

  .tarifs__plane-list-item {
    padding-bottom: 35px;
  }

  .tarifs__plane-list-item ul li:not(:last-child) {
    margin-bottom: 10px;
  }

  .tarifs__plane-list-item ul li span {
    font-size: 18px;
  }

  .how-to-work__title {
    padding: 0;
    margin-bottom: 10px;
  }

  .contact-us > img {
    max-width: 430px;
  }

  .contact-us__form {
    padding: 30px 35px;
    width: 50%;
  }

  .contact-us__form > p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contact-us input {
    font-size: 18px;
    margin-bottom: 25px;
    padding: 20px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-bottom: 30px !important;
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  .button {
    font-size: 16px;
    padding: 10px;
  }

  .chips__list {
    font-size: 20px;
    margin: 20px 0 30px -50px;
  }

  .chips__list-item p {
    font-size: 18px;
  }

  .view-personal__list-item img {
    max-width: 200px;
    max-height: 160px;
    margin-bottom: 25px;
}

  .view-personal__list-item p {
    font-size: 16px;
  }

  .why-justo__title svg,
  .why-justo__title image {
    width: 270px;
  }

  .why-justo__secondary-title {
    margin-bottom: 30px;
  }

  .chips__video {
    padding: 0 0 60px;
  }

  .pay::after,
  .pay::before {
    width: 45%;
  }

  .topicality__list-item {
    font-size: 20px;
  }

  .topicality__list-item p {
    font-size: 16px;
  }

  .topicality__list-item + .topicality__list-item {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 517px) {
  h2 {
    margin-bottom: 20px !important;
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .cube-center-left,
  .cube-center-right {
    display: none;
  }

  .banner__title div {
    padding: 10px;
    padding-left: 40px;
  }

  .banner__title p {
    font-size: 100%;
    line-height: 27px;
  }

  .why-justo__title svg,
  .why-justo__title image {
    width: 200px;
  }

  .why-justo__content-list {
    font-size: 14px;
    width: 48%;
  }

  .why-justo__content-sticker {
    display: none;
  }

  .why-justo__content-item + .why-justo__content-item {
    margin-top: 20px;
  }

  .chips__title {
    width: 100%;
  }

  .chips__video {
    padding-bottom: 35px;
  }

  .chips__video iframe {
    min-height: 315px;
  }

  .chips__content {
    flex-flow: column;
    padding: 0;
  }

  .chips__list {
    font-size: 15px;
    width: 100%;
    margin-left: 0;
  }

  .chips__list + .chips__list {
    margin-top: 25px;
  }

  .topicality__list {
    flex-flow: column;
    padding-left: 15px;
  }

  .topicality__list-item {
    width: 100%;
    justify-content: start;
  }

  .topicality__list-item img {
    max-width: 80px;
  }

  .view-personal__list {
    display: block
  }

  .view-personal__list-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .view-personal__list-item + .view-personal__list-item {
    margin-top: 15px;
  }

  .view-personal__list-item > div {
    width: 60%;
  }

  .view-personal__list-item img {
    max-width: 130px;
    max-height: 103px;
    width: 33%;
    margin-right: 15px;
  }

  .view-personal__list-item h4 {
    margin-bottom: 10px;
  }

  .view-personal__list-item p {
    font-size: 16px;
    text-align: left;
  }

  .profit__list-content ul {
    font-size: 16px;
  }

  .integrations__secondary-title {
    margin-bottom: 20px;
  }

  .tarifs__plane-list {
    flex-flow: column;
    align-items: center;
  }

  .tarifs__plane-list-item {
    width: 90%;
  }

  .tarifs__plane-list-item + .tarifs__plane-list-item {
    margin-top: 30px;
    margin-left: 0;
  }

  .contact-us > img {
    display: none;
  }

  .contact-us__content {
    flex-flow: column;
  }

  .contact-us__form {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  .banner {
    margin-top: 70px;
  }

  .why-justo__content {
    flex-flow: column;
  }

  .why-justo__content-list {
    width: 100%;
  }

  .why-justo__content-list:last-child {
    margin-top: 20px;
  }

  .view-personal__list-item p {
    font-size: 14px;
    padding-left: 15px;
  }

  .contact-us__form > p {
    font-size: 16px;
  }

  .contact-us input {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px 15px;
  }

  .contact-us input[type="submit"] {
    font-size: 16px;
  }

  .contact-us__form {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 18px;
  }

  .why-justo {
    padding-top: 0;
  }

  .why-justo__title svg,
  .why-justo__title image {
    width: 170px;
    height: 70px;
  }

  .section-page {
    padding-bottom: 30px;
  }

  .chips__video {
    padding: 0 0 25px;
  }

  .chips__video iframe {
    min-height: 180px;
  }

  .tarifs__plane-list-item {
    width: 100%;
  }

  .profit__list-content img {
    max-width: 60px;
    margin-right: 10px;
  }

  .button {
    font-size: 14px;
    padding: 10px;
  }

  .tarifs__plane-list-item ul {
    padding: 0 25px;
    margin-bottom: 30px;
}

  .tarifs__plane-list-item ul li span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 350px) {
  .topicality__list-item:not(:last-child) {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .pay::after,
  .pay::before {
    top: 40%;
  }
}

@media only screen and (max-width: 320px) {

}

/* .rotation-cube {
  width: var(--size-cube);
  height: var(--size-cube);
  transform-style: preserve-3d;

  animation-name: rotateCube;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  position: absolute;
  top: 50%;
  right: 50%;
}

@keyframes rotateCube {
  from {
    transform: rotateX(-28deg) rotateY(0deg) rotateZ(50deg);
  }
  to {
    transform: rotateX(-28deg) rotateY(360deg) rotateZ(50deg);
  }
}

.side {
  position: absolute;
  width: var(--size-cube);
  height: var(--size-cube);
  border: 5px solid #fff;
  backface-visibility: hidden;
  background-image: url("https://miro.medium.com/max/592/1*eFN_Exto7UKvR3ak4tkDmA.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.front {
  transform: translateZ(var(--translate-z));
}
.back {
  transform: rotateY(180deg) translateZ(var(--translate-z));
}
.right {
  transform: rotateY(90deg) translateZ(var(--translate-z));
}
.left {
  transform: rotateY(-90deg) translateZ(var(--translate-z));
}
.top {
  transform: rotateX(90deg) translateZ(var(--translate-z));
}
.bottom {
  transform: rotateX(-90deg) translateZ(var(--translate-z));
} */
