.section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.wrap {
    position: relative;
    width: inherit;
}

.section-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-summary {
    background-image: linear-gradient(to right bottom, rgba(120, 187, 205, 0.8), rgba(255, 255, 255, 0.2)),
        url(../img/hero.jpg);
    background-size: 100% 100%;
    background-position: top;
    position: relative;
    padding: 4rem 2rem;
}

.section-portfolio {
    padding: 4rem 2rem;
    position: relative;
    background-image: linear-gradient(
        to right bottom, 
        rgba(120, 187, 205, 0.8), 
        rgba(255, 255, 255, 0.2)),
    url(../img/nat-4.jpg);
    background-size: cover;
}

.header-box {
    padding: 1rem;
    background-color:rgba($color: #bcbbbf, $alpha: .6);
    width: 22rem;
    border-radius: 1rem;
}