@charset "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td
{background: none repeat scroll 0 0 transparent;border: 0 none;font-size: 100%;outline: 0 none;vertical-align: baseline;
    margin: 0;padding: 0;}table{border-collapse:collapse;border-spacing:0;}
address,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,section,summary{display:block;}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover, button, button:hover, .anime{
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
}

/*Flex Framework*/
.main_flex {
    display:flex;
    display:-webkit-flex;
    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;
}

.main_flex__nowrap{
    display:flex;
    display:-webkit-flex;
    -webkit-flex-flow:row nowrap;
    flex-flow:row nowrap;
}

.flex__auto {
    flex:auto;
    -webkit-flex:auto;
    -ms-flex:auto;
}

.flex__jcontent_between {
    justify-content:space-between;
    -webkit-justify-content:space-between;
}

.flex__jcontent_start{
    justify-content:flex-start;
    -webkit-justify-content:flex-start;
}

.flex__jcontent_end{
    justify-content:flex-end;
    -webkit-justify-content:flex-end;
}

.flex__jcontent_center{
    justify-content:center;
    -webkit-justify-content:center;
}

.flex__jcontent_around{
    justify-content:space-around;
    -webkit-justify-content:space-around;
}


.flex__align-items_start{
    align-items:flex-start;
    -webkit-align-items:flex-start;
}

.flex__align-items_end{
    align-items:flex-end;
    -webkit-align-items:flex-end;
}

.flex__align-items_baseline{
    align-items:baseline;
    -webkit-align-items:baseline;
}

.flex__align-items_stretch{
    align-items:stretch;
    -webkit-align-items:stretch;
}

.flex__align-items_center{
    align-items:center;
    -webkit-align-items:center;
}

.flex__align-content_flex-start{
    align-content:flex-start;
    -webkit-align-content:flex-start;
}

.flex__align-content_flex-end{
    align-content:flex-end;
    -webkit-align-content:flex-end;
}

.flex__align-content_space-between{
    align-content:space-between;
    -webkit-align-content:space-between;
}

.flex__align-content_center{
    align-content:center;
    -webkit-align-content:center;
}

.flex__align-content_space-around{
    align-content:space-around;
    -webkit-align-content:space-around;
}

.flex__align-content_stretch{
    align-content:stretch;
    -webkit-align-content:stretch;
}

.flex__flex-grow_01{
    flex-grow:1;
    -webkit-flex-grow:1;
}

.flex__flex-grow_02{
    flex-grow:2;
    -webkit-flex-grow:2;
}

.flex__flex-grow_03{
    flex-grow:3;
    -webkit-flex-grow:3;
}

.flex__flex-grow_04{
    flex-grow:4;
    -webkit-flex-grow:4;
}
/*////////////////*/
/*CLASS other*/
/*////////////////*/

.wrap{
    width: 83vw;
    margin: 0 auto;
}
/*////////////////*/
/*Style index.html*/
/*////////////////*/

h1{
    font-size: 3.2vmax;
    line-height: 4.8vmax;
}

h2{
    font-size: 3.33vw;
    line-height: 3.2vmax;
}

h3{
    font-size: 2.4vw;
    line-height: 4.8vmax;
}

h4{
    font-size: 1.36vw;
    line-height: 1.66vmax;
}
body{
    font-family: "Segoe UI", Arial, "sans-serif";
    font-size: 1.6vw;
    line-height: 2.4vmax;
    width: 100%;
    overflow-x: hidden;
}
header{
    background: url("../img/00.png") no-repeat scroll center;
    background-size: cover;
    width: 100%;
}

.effect{
    width: inherit;
    height: inherit;
    background-color: rgba(48,50,99,.67);
}

#top_header{
    color: #fff;
    text-align: center;
    flex-flow: column nowrap;
    padding: 13vw 0 8vw;
}

#top_header>p{
    width: 55.66vw;
    margin: 3vw 0;
}

#top_header_box{
    width: 100%;
}

.container_top_header{
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 16.6vmax;
    padding: 3vw 0;
    position: relative;
    font-size: 1.2vmax;
    margin-right: 4vmax;
}

.container_top_header:last-child{
    margin-right: 0;
}

.container_top_header:after{
    content: '';
    width: 6.53vmax;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.container_top_header:before{
    content: '';
    width: 6.53vmax;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.svg_container_top_header{
    width: 2.4vw;
    fill: #fff;
    position: absolute;
    top: -1.2vw;
    right: calc(50% - 1.2vw);
}

.container_top_header span{
    font-size: 3.2vmax;
    font-weight: bold;
}

#bottom_header{
    width: 100%;
    height: 6.66vmax;
    border-bottom: 2px solid rgba(0,0,0,.32);
}

#bottom_header>div{
    height:  inherit;
}

#bottom_header li{
    list-style: none;
    margin-right: 2.8vmax;
}

#bottom_header li:last-child{
    margin-right: 0;
}

#bottom_header a{
    text-decoration: none;
    font-size: 2vw;
    color: #282828;
}

#bottom_header a:hover{
    color: #f6ae48;
}

.fixedNav{
    position: fixed;
    top: 0;
    opacity: .7;
    background: #f6ae48;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 100;
    transition: all .25s ease-in-out;
}
.fixedNav:hover{
    opacity: 1;
}
#bottom_header.fixedNav a{
    color: #282828;
}

#bottom_header.fixedNav a:hover{
    color: #fff;
}

#bottom_header.fixedNav nav{
    height: inherit;
}

#studio{
    width: 100%;
    padding: 8.33vmax 0 16.6vmax;
}

#studio>div:first-child{
    position: relative;

}

#studio>div:first-child>p{
    margin-left: 14.66vmax;
    font-size: 1.33vw;
    line-height: 2vw;
}

.back_studio{
    font-size: 22.66vw;
    color: rgba(193,193,193,.3);
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
}

#studio_basics{
    margin-top: 14.13vmax;
}
.basic_container{
    width: 26.8vmax;
    font-size: 1.02vw;
    line-height: 1.66vmax;
    padding: .86vw 1.66vw 1.33vw;
    color: #000;
    cursor: pointer;
    fill: #00b9e7;
}


.basic_svg {
    width: 3vw;
}

.basic_container>p{
    margin-top: 1vw;
}

.basic_container:hover{
    background-color: #f6ae48;
    color: #fff;
    fill: #fff;
}


.order_basic{
    padding-top: 1.66vw;
    color: #fff;
}

.basic_price{
    padding: 1vw;
    border: 1px solid #fff;
}

.order_basic_svg{
    width: 1.46vw;
    fill: #fff;
}

#development{
    background: url("../img/01.png") no-repeat center scroll;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 10;
}

#credo{
    padding: 8.33vmax 0 10.66vmax;
}

#credo>p{
    width: 69.66vw;
    margin: 5vw auto;
}

#development_box{
    position: relative;
    padding: 14vmax 0 6vmax;
    width: 100%;
}

#development_name{
    width: 44.4vmax;
    height: 35vw;
    background-color: #f6ae48;
    position: absolute;
    top: -3vw;
    z-index: 20;
    fill: rgba(255,255,255,.36);
    overflow: hidden;
}

#development_name svg:first-child{
    width: 20vmax;
    position: absolute;
    top: 0;
    left: -6.66vmax;
}

#development_name svg:last-child{
    width: 14.33vmax;
    position: absolute;
    top: -2.33vmax;
    right: -5vmax;
}

#development_name>p{
    position: absolute;
    font-size: 3.33vw;
    color: #fff;
    font-weight: 600;
    left: 8.4vmax;
    top: 8.9vmax;
}

#d_con{
    position: relative;
    z-index: 20;

}

.development_container{
    width: 24.2vmax;
    height: 21vmax;
    overflow: hidden;
    margin-right: 1.33vmax;
    cursor: pointer;
    position: relative;
    margin-bottom: 1vmax;
}

.development_container img{
    width: 100%;
    height: 100%;
}

.development_container:last-child{
    margin-right: 0;
}

.effect_black{
    width: inherit;
    height: inherit;
    background: rgba(0,0,0,.65);
    padding: 5.22vmax 3.33vmax 2vmax 2.33vmax;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.title_d{
    width: 17.2vmax;
    height: 7vw;
    font-size: 3.37vw;
    font-weight: bold;
    line-height: 3.2vmax;
    border-bottom: 1px solid rgba(255,255,255,.5);
    margin-bottom: 3vmax;
}

.development_price{
    padding: .5vmax 1vw;
    border: 1px solid #00b9e7;
}

.development_svg{
    width: 2.13vmax;
    fill: #00b9e7;
}

#seo_container, #adaptability, #careful{
    padding: 8.96vmax 0 7.66vmax;;
}

.seo_text, .adaptability_text, .careful_text{
    line-height: 3.2vmax;
    position: relative;
    width: 38vw;
    margin-left: 5vw;
    margin-right: 12.33vw;
}

.seo_text span, .adaptability_text span, .careful_text span{
    font-size: 5.3vw;
    font-weight: bold;
    letter-spacing: .3vw;
    color: rgba(0,0,0,.16);
    position: absolute;
    top: .7vmax;
    left: -3vw;
}

.seo_logo{
    display: flex;
    flex-flow: column;
    width: 13.33vw;
}

.seo_logo img{
    width: 100%;
    height: auto;
    margin-bottom: 2.6vmax;
}

.seo_logo img:last-child{
    margin-bottom: 0;
}

#our_projects{
    width: 100%;
}

.title_projects, .footer_projects{
    position: relative;
    width: 100%;
    height: 8vmax;
    background-color: #303263;
    color: #fff;
}

.title_projects span{
    font-size: 6.42vw;
    font-weight: bold;
    position: absolute;
    color: rgba(255,255,255,.32);
    letter-spacing: .5vw;
}

.projects img:nth-of-type(-n + 2){
    width: 50%;
    height: 28vmax;
}

.projects img:nth-of-type(n+3){
    width: 25%;
    height: 21.6vmax;
}

.button_proj{
    text-transform: uppercase;
    font-weight: bold;
    width: 16vw;
    height: 4vmax;
    background-color: #6a6b8e;
    border-radius: 1vmax;
    cursor: pointer;
}

.button_proj:hover{
    background-color: #4d4e88;
}

.projects{
    position: relative;
}

.test{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.adaptability_photo{
    position: absolute;
    right: 0;
}

.adaptability_photo img:nth-child(1){
    margin-right: 3.66vw;
    width: 8vw;
    height: auto;
}

.adaptability_photo img:nth-child(2){
    width: 16vw;
    height: auto;
}

.adaptability_photo img:nth-child(3){
    margin-left: 1.66vw;
    width: 14.66vw;
    height: auto;
}

#trade{
    background: url("../img/05.png") no-repeat center;
    background-size: cover;
    color: #fff;
    width: 100%;
    font-size: 1.2vw;
    line-height: 2vmax;
    position: relative;
}

.trade_effect{
    width: inherit;
    height: inherit;
    padding: 4vmax 0 3.2vmax;
    flex-flow: column nowrap;
    background-color: rgba(0,0,0,.52);
}

.trade_container{
    margin: 5vmax 0 1.33vmax;
    width: 100%;
}

.trade_box{
    width: 27.33vw;
}

.trade_box_title{
    font-size: 2vw;
    font-weight: bold;
}

.trade_box svg{
    width: 4.6vw;
    fill: #00b9e7;
    margin-right: 1vw;
}

.btn_yel{
    background-color: #f6ae48;
    font-size: 2.4vw;
    font-weight: bold;
    color: #fff;
    padding: 1.46vmax;
    border: none;
    border-radius: 2vmax;
}

.btn_yel:hover{
    background-color: #d28f31;
    box-shadow: 0 .5vmax 1vmax rgba(0,0,0,.5) ;
}

.btn_yel:active{
    box-shadow: inset 1px 1px .66vmax -1px rgba(0,0,0, .8);
}

.btn_yel:focus{
    outline: none;
}

.careful_box img{
    width: 32.53vw;
    height: auto;
}

#contact_us{
    width: 100%;
    background: url("../img/07.png") no-repeat scroll center;
    background-size: cover;
    color: #fff;
    font-size: 1.2vw;
    line-height: 2vmax;
}

#contact_us>.effect>.wrap{
    padding: 8vmax 0 ;
}

.text_contact{
    width: 24vw;
}

.text_contact>p>span{
    font-size: 2vw;
    font-weight: bold;
}

.text_contact>p:first-child{
    margin-bottom: 3.66vmax;
}

#contact_us form{
    width: 41vw;

}

#contact_us form input::placeholder, #contact_us form textarea::placeholder{
    color: #fff;
}

#contact_us form input{
    border: 2px solid #fff;
    color: #fff;
    padding: 1vmax;
    background: transparent;
    font-size: 1.2vw;
}

#contact_us form input:first-child{
    border-right: none;
}

#contact_us form input:nth-child(-n+2){
    width: 50%;
    border-bottom: none;
}

#contact_us form input:nth-of-type(3){
    width: 100%;
    border-bottom: none;
}

#contact_us form textarea{
    width: 100%;
    height: 10.66vmax;
    resize: none;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    padding: 1vmax;
    font-size: 1.2vw;
}

#contact_us form p{
    font-size: .93vw;
    margin-left: 1.6vw;
}

#contact_us form button{
    font-size: .93vw;
    border-radius: 1vmax;
    padding: 1vmax 1.33vmax;
    margin-top: 1vmax;
}

footer{
    width: 100%;
    height: 7.26vmax;
    background: #f6ae48;
}

@media
only screen and (min-device-width: 320px) and (max-device-width: 480px),
only screen and (max-width: 320px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    nav{
        display: none;
    }

    h3{
        font-size: 3.4vw;
    }



    #studio{
        padding-bottom: 3.6vmax;
    }

    #studio>.wrap{
        flex-flow: wrap;
        justify-content: center;
    }

    #studio>div:first-child>p{
        margin-left: 0;
        width: 100%;
    }

    #studio_basics{
        margin-top: 5vmax;
    }

    .basic_container{
        width: 100%;
    }

    .basic_svg{
        width: 7vw;
    }

    .basic_price{
        font-size: 3vw;
    }

    .order_basic_svg{
        width: 3.46vw;
    }

    #d_con{
        flex-flow: wrap;
    }

    .development_container{
        width: 100%;
        margin-right: 0;
        height: 30vmax;
    }

    .development_container>.effect_black{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .development_container:last-child{
        margin-top: 1.33vmax;
    }

    .development_price{
        font-size: 3vw;
    }

    #seo_container, .adaptability_text, .careful_text{
        padding-top: 0;
        font-size: 3vw;
    }

    .seo_text span, .adaptability_text span, .careful_text span{
        font-size: 5.9vw;
    }

    .seo_logo{
        width: 25.33vw;
    }
    
    .projects img:nth-of-type(-n + 2){
    width: 100%;
    height: 28vmax;
}

    .projects img:nth-of-type(n+3){
        width: 50%;
        height: 21.6vmax;
    }

    .button_proj{
        width: 28vw;
        height: 5vmax;
        font-size: 3vw;
    }

    .trade_container{
        flex-flow: column;
        align-items: center;
    }

    .trade_box{
        width: 80%;
        margin-bottom: 2vmax;
    }

    .trade_box svg{
        width: 8.6vw;
        margin-right: 4vw;
    }

    .trade_box span{
        font-size: 3vw;
    }

    #contact_us>.effect>.wrap{
        flex-flow: wrap;
    }

    .text_contact>p>span {
        font-size: 4vw;
    }

    .text_contact{
        font-size: 2vw;
        width: 100%;
        margin-bottom: 2vmax;
    }

    #contact_us>.effect>.wrap>form{
        width: 100%;


    }

    #contact_us form input{
        font-size: 2.2vw;
    }

    #contact_us form textarea{
        font-size: 2.2vw;
    }

    #contact_us form p {
        font-size: 1.93vw;
    }

    #contact_us form button {
         font-size: 2.93vw;
     }



}
















