.work-list {
    padding: 0 4rem;

    &__item {
        margin-left: 2rem;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 0;

        &__item {
            margin-left: 0
        }
    }
}

.portfolio {
    width: 95%;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
    position: relative;

    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 35%;
        height: 20rem;
        position: relative;
        background: #000;
        margin-right: 4rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        transition: all .5s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
        text-transform: uppercase;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(3px) brightness(80%);
    }

    &:hover {
        background-color: rgba($color-white, 1);
    }

    &__description {
        transform: skewX(12deg);
        width: 65%;
        text-align: justify;
        padding: 0 4rem 0 2rem;

        &>p:first-child {
            text-transform: uppercase;
        }
    }

    &__links {
        margin-top: 1.5rem;
        text-align: right;
    }

    @media only print,
    screen and (max-width: $bp-medium) {
        width: 100%;
        transform: skewX(0);

        &__shape {
            margin-right: 1rem;
        }

        &__description {
            transform: skewX(0);
            padding-right: 2rem;
        }
    }

    @media only screen and (max-width: $bp-small) {
        flex-flow: column;

        &__shape {
            width: 100%;
            margin-right: 0;
        }

        &__description {
            width: 100%;
            padding: 1rem;
            text-align: left;
        }
    }

    @media only print and (max-width: $bp-medium) {
        &__links {
            display: none;
        }
    }
}