.side-pannel {
    width: 30rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient($color-blue-light-1, $color-blue-light-2);
    z-index: 110;

    @include animSidePanl;

    &__toggle {
        width: 4rem;
        height: 4rem;
        background: #fff;
        border-radius: 0 50% 50% 0;
        position: absolute;
        top: 50%;
        right: -4rem;
        transform: translateY(-50%);
        display: none;

        &--svg {
            position: absolute;
            top: 1rem;
            left: 0;
            transform: translateX(50%);
            width: 2rem;
            height: 2rem;
            fill: #cecece;
        }
    }
    
    @media only screen and (max-width: $bp-medium){
        display: none;
    }

    /*
    @media screen and (max-width: 64rem) {
        left: -50%;
        width: 50%;

        &__toggle {
            display: block;
            width: 7rem;
            height: 7rem;
            right: -7rem;
        }
    }

    @media only screen and (max-width: 32.625rem) {
        left: -80%;
        width: 80%;
        padding: 0 2rem;
    }
    */
}

.isActive-pannel {
    left: 0;
}

.isActive-toggle {
    transform: rotate(180deg);
    left: .7rem;
}