.summary-box {
    width: 85%;

    &__list {
        margin-left: 4rem;
    }

    &--item {
        display: flex;
        align-items: center;
        border-radius: 1rem;
        background-color: rgba($color: $color-white, $alpha: .8);
        transition: background-color .3s;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &:hover {
            background-color: rgba($color: $color-white, $alpha: 1);
        }
    }

    &--date {
        border-right: 2px solid $color-accent-2;
        padding: 2rem;
        width: 15%;
    }

    &--text {
        padding: 2rem;
        width: 85%;
    }

    @media only print,
    screen and (max-width: $bp-medium) {
        width: 100%;

        &__list {
            margin-left: 0;
        }

        &--item {
            flex-flow: column-reverse;
            padding: 1rem;
        }

        &--date {
            width: 100%;
            border: none;
            padding: 0;
            text-align: right;
        }

        &--text {
            padding: 0;
            width: 100%;
        }
    }

    @media only print and (max-width: $bp-medium) {
        &--item {
            border: 1px solid $color-blue-light-1;
        }
    }
}

.skills-box {
    width: 85%;

    &__list {
        margin-left: 4rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &--item {
        display: flex;
        align-items: center;
        width: 48%;
        background-color: rgba($color: $color-white, $alpha: .9);
        border-radius: 1rem;
        padding: 1rem;
        margin-bottom: 2rem;

        &:hover {
            background-color: rgba($color: $color-white, $alpha: 1);
        }
    }

    &--icon {
        padding: 1rem;
        margin-right: 1rem;

        &>svg {
            height: 6rem;
            fill: $color-accent-2;
        }
    }

    &--text {}

    @media only print,
    screen and (max-width: $bp-medium) {
        width: 100%;

        &__list {
            margin-left: 0;
        }
    }

    @media only screen and (max-width: $bp-small) {
        &--item {
            width: 100%;
        }
    }

}