.social {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 16rem 3rem 0 3rem;

    &__nav {
        padding: 2rem;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        list-style: none;
    }

    &__link {
        text-decoration: none;

        &:focus {
            -moz-outline-radius: 2rem;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        transition: transform .2s;

        &:hover,
        &:active {
            transform: scale(1.5);
        }
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 0;
        margin-bottom: 2rem;

        &__nav {
            padding: 0;
        }

        &__icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}