.social {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 16rem 3rem 0 3rem;

    &__nav {
        padding: 2rem;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        list-style: none;
    }

    &__link {
        text-decoration: none;

        &:focus {
            -moz-outline-radius: 2rem;

        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        transition: transform .2s;

        &>embed {
            fill: aqua;
        }

        &:hover,
        &:active {
            transform: scale(1.5);
        }
    }
/*
    @media screen and (max-width: 64rem) {

        &__list {
            justify-content: space-between;
        }

        &__icon {
            width: 5vmax;
            height: 5vmax;
        }
      
    }
*/
}