body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-blue-light-3;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    &--main {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        border-bottom: 1px solid $color-white;
    }

    &--sub {
        padding-top: 1rem;
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: .7rem;
    }
}

.heading-secondary {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;

    &--main {
        background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 4rem;
        display: block;
        position: absolute;
        top: -3rem;
        left: 50%;
        margin-left: -29%;
    }

    &--sub {
        display: block;
        color: $color-secondary-sub;
        font-weight: 500;
        font-size: 2rem;
    }

    &--marker {
        margin: 0 1rem 0 1rem;
    }
}

.heading-third {
    text-transform: uppercase;
    color: $color-white;
    display: block;
}

.paragraph--main {
    color: $color-blue-light-1;
    font-size: 2rem;
    font-weight: 700;
}

.link {
    color: $color-accent;
    font-family: 'raleway_bold';
    font-size: 2rem;
    //text-transform: uppercase;
}

.p-link {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-accent;
    font-weight: 800;
    border: 1px solid $color-accent;
    border-radius: 15%;
    padding: 1rem;
    transition: all .3s ease-out; 

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:hover {
        color: $color-white;
        background-color: $color-accent; 
    } 
}