// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #4286b3;
$color-secondary-dark: #2e688d;
$color-secondary-sub: #74acc5;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-blue-light-1: #4d9ac8;
$color-blue-light-2: #78bbcd;
$color-blue-light-3: #8c969f;

$color-accent: #cc7878;
$color-accent-2: #feb7c2;


// FONT 
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$bp-medium: 56.25em; 
$bp-small: 37.5em; 